.config/neofetch
.config/BraveSoftware
.config/configstore
.config/matplotlib
.config/pulse
.config/coc
.config/nvim/autoload
.config/alacritty
.config/fish
.config/flameshot
.config/GIMP
.config/htop
.config/gtk*
.config/matplotlib
.config/procps
.config/wal
.config/xfce4
.config/mimeapps.list
.config/pavucontrol.ini
.config/zoomus.conf
